#body{
    background-image:url("../felhasznalo/hatterkep.webp");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 1900px;
    margin: 0 auto;
      display: flex;
    
 }
 
.navbar-nav .nav-link
{
    display: flex;
    color:white;
    font-family:'Lucida Sans Regular';
    font-size: 27px;
   
}

.navbar-nav .nav-link:hover
{
    color:white;
    border-bottom: 2px solid white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
  
}
footer {
   position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}
footer p{
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: auto;

    
}

.navbar {
  
    justify-content: space-between;
    width: 100%;
  
  
}
.navbar-center {
   
    display: flex;
    flex: 1;
    justify-content: space-around;
   
}

.nav-item #foodal
{
    border-bottom: 2px solid white;
   
}
.navbar-right {
    flex: 0 1 auto;
    margin-left: auto;
    display: flex;
}
.navbar-center .nav-item {
    margin: 0 5px;
    gap: 20;
}

