.ul .li
{
    list-style: none;
    padding: 20px;
    border-bottom: 2px white solid;
  
}

.ul
{
    padding:10px;
    
    
}

body
{
    background-image: url("hatterkep.webp");
    height: 400px;
   
}

#elerhetosegek
{
    padding: 20px;
    border: 2px solid gray ;
    border-radius: 10%;
    background-color: rgb(61, 55, 55);
    color: white;
   max-width: 600px;
 display: block;

}


#section
{
    margin: 12px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10%;
    color: rgb(219, 33, 20);
    background-color: white;
    font-family:Cambria, Cochin, Georgia;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
 
}
section .ul .li  i{
    padding: 2px;
}

ul li span
{
    float: right;
}

.container p
{
    text-align: center;
    background-color: white;
    color: gray;
    font-size: 30px;
    font-weight: 500;
    border: 2px solid gray;
    border-radius: 9%;
    padding: 15px;
}

#id
{
    display: flex;
}


#row
{
    display: flex;
    gap: 300px;
  justify-content: center;
}